p {
    color: red;
    background-color: yellow;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    direction: rtl;
    letter-spacing: 0.4rem;
    word-spacing: 1.2rem;
    line-height: 3.4rem;
    text-align: right;
    text-decoration: underline overline line-through;
    text-indent: 4rem;
    text-shadow: 0.2rem -0.2rem 0.2rem blue;
    text-transform: capitalize;
}