* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row; /* row  column  row-reverse  column-reverse */
    justify-content: space-evenly;  /* flex-start  flex-end  center   space-around   space-between   space-evenly */
    align-items: stretch;   /* flex-start  flex-end  center   stretch  baseline */
    background: yellow;
    height: 20rem;
    margin: 1rem;
}

.flex-item {
    background: red;
    width: 10%;
}